<template>
  <div class="container" v-click-outside="close">
    <div class="flex flex-row menu">
      <div class="input mx-3" v-on:click="open">
        <input v-model="search" placeholder="This is a search input" v-show="showDropdown" />
        <span v-show="!showDropdown">{{ selectedValue ? selectedValue.value : ''}}</span>
        <span v-show="!selectedValue && !showDropdown" class="lightblack">Select an item.</span>
      </div>

      <button class="button" v-on:click="showDropdown = !showDropdown">
        <img v-if="!showDropdown" alt="down" src="../assets/chevron-down.svg" class="image-margin" />
        <img v-if="showDropdown" alt="up" src="../assets/chevron-up.svg" class="image-margin" />
      </button>
    </div>
    <div v-if="showDropdown" class="pb-3">
      <ul class="text-left mx-3">
        <li
          v-for="item in items"
          class="list my-2"
          :key="item.id"
          v-on:click="selectItem($event, item)"
        >{{item.value}}</li>
      </ul>
    </div>
    <div v-show="showDropdown && !itemsFound" class="text-left p-3 -mt-3 lightblack no-items">
      <span>No items were found.</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

Vue.directive('click-outside', {
  bind: function (el, binding, vnode) {
    el.clickOutsideEvent = function (event) {
      // here I check that click was outside the el and his childrens
      if (!(el == event.target || el.contains(event.target))) {
        // and if it did, call method provided in attribute value
        vnode.context[binding.expression](event);
      }
    };
    document.body.addEventListener('click', el.clickOutsideEvent)
  },
  unbind: function (el: any) {
    document.body.removeEventListener('click', el.clickOutsideEvent)
  },
});
export default {
  props: {
    content: Array
  },
  data() {
    return {
      items: this.content,
      search: "",
      selectedValue: null,
      showDropdown: false,
      itemsFound: true
    };
  },
  watch: {
    search(val) {
      this.items = this.content;
      this.itemsFound = true;

      if (val) {
        this.items = this.items.filter(item => {
          return (item.value as string).toLowerCase().includes(val.toLowerCase());
        });
        if (!this.items.length) {
          // show no items found as message
          this.itemsFound = false;
        }
      }
    },
    content() {
      this.items = this.content;
    }
  },
  methods: {
    open() {
      this.showDropdown = true;
    },
    close() {
      this.showDropdown = false;
      this.items = this.content;
    },
    selectItem(event: any, item: any) {
      this.selectedValue = item;
      this.showDropdown = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.list:hover {
  color: #4299e1;
  cursor: pointer;
}
.list {
  font-weight: 550;
}
.menu {
  height: 56px;
}
.lightblack {
  color: #98a6b4;
}
.input {
  width: 75%;
  text-align: left;
  margin-top: 16px;
}
.button {
  text-align: center;
  width: 20%;
}
.container {
  background-color: #ffffff;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px rgba(35, 78, 82, 0.1) !important;
}
.image-margin {
  margin-left: 42%;
}
@media (min-width: 576px) {
  .container {
    max-width: 256px;
  }
  .image-margin {
    margin-left: 19px;
  }
}
</style>
