<template>
  <div id="app" class="container">
    <p>
      Simple searchable dropdown component example, made vith Vue.js and Tailwind.css
    </p>
    <p class="lightblack">
      See README for documentation.
    </p>
    <Dropdown class="mt-10" :content="dropdownContent"/>
  </div>
</template>

<script lang="ts">
import Dropdown from './components/Dropdown.vue';

export default {
  components: {
    Dropdown
  },
  data() {
    return {
      dropdownContent: [
        {
          value: 'First item',
          id: 0
        },
        {
          value: 'Second item',
          id: 1
        },
        {
          value: 'Third item',
          id: 2
        },
        {
          value: 'Fourth item',
          id: 3
        },
        {
          value: 'Fifth item',
          id: 4
        }
      ]
    }
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
#app {
  background-color: #ececec;
  min-height: 60vh;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.lightblack {
  color: #98a6b4;
}
.container {
  margin: 0 auto;
  text-align: center;
}
</style>
